<div class="box col-10 offset-1">
<h1>Show some love for our furry friends!</h1>

<%= image_tag("cats_and_dogs.jpg") %>
</br >
<p>
Hello! We are AnimaLove, a temporary home for our homeless, furry friends. Our mission is to find a forever home for each one of our friends. Since we began our mission in 2013, we have found homes for 300+ pets. If you're interested in meeting your new best friends, please feel free to contact us at (555) 555- 5555. If you'd like to meet them, you can find us at the corner of Maple Ave & Tenth St in San Francisco, CA.
</p> 
<p>
This page is our dedicated donations' site. All proceeds go towards helping our little friends. As you know, San Francisco is one of the most expensive places to live. In order to keep our shelter running, we are asking for some help from the community in this time of need.
</p>
<p>
Thank you for taking the time learn about our cause.
</p>
<div class="links">
<%= link_to "I'd love to help! DONATE", documents_path %>
</div>

</div>